.navbar-brand span{
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	margin-left: 15px;
}

.navbar .navbar-nav{
	background-color: rgb(128, 191, 255);
}
.navbar{
	background-color: rgb(0, 77, 153);
	margin-left: -15px;
	margin-right: -15px;
}
.nav-item{
	text-align: center;
}

.nav-item:hover{
	background-color: rgb(204, 230, 255);

}

.navbar .nav-link span{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	margin-left: auto;
}
#heading{
	margin-top: 20px;
}
#heading h1{
	font-weight: bold;
	text-align: center;
}
.content{
	height: 800px;
	background-color: rgb(204, 230, 255); 
	margin-top: 30px;
	margin-bottom: 50px;
}

.content:hover{
    box-shadow:5px 10px 8px 5px;
}
 .row .content h2{
	position: absolute;
	/*margin-left: -14px;*/
    text-transform: uppercase;
    background-color: rgb(128, 191, 255);
    font-size: 1.2em;
    font-weight: bold;
}
